<p>Titre : {{ Titre }}</p>

<form
  ngForm
  #assignmentForm
  (submit)="onSubmit($event); assignmentForm.reset()"
  class="form"
>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="DateAssignment"
      name="DateAssignment"
    />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input
      matInput
      type="text"
      placeholder="Nom"
      [(ngModel)]="NomAssignment"
      name="NomAssignment"
    />
  </mat-form-field>
  <button mat-stroked-button color="primary" [disabled]="ajoutActive">
    Ajouter un devoir
  </button>
</form>

<mat-list>
  @for(assignment of assignments; track assignment.nom){
  <mat-list-item (click)="assignmentClique(assignment)">
    <div [ngClass]="{ rendu: assignment.rendu, nonrendu: !assignment.rendu }">
      <h3 mat-subheader>
        {{ assignment.nom }} :
        <small>{{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</small>
      </h3>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  }
</mat-list>

<app-assignment-detail
  [assignmentTransmis]="assignmentSelecionne"
></app-assignment-detail>

<!--@for(assignment of assignments; track assignment.nom){
<div [ngClass]="{ rendu: assignment.rendu, nonrendu: !assignment.rendu }">
  @if(assignment.rendu){
  <p appRendu>{{ assignment.nom }}</p>
  <p>doit être rendu le {{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</p>
  <mat-divider></mat-divider>
  }@else{
  <p appRendu>{{ assignment.nom }}</p>
  <p>doit être rendu le {{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</p>
  <mat-divider></mat-divider>
  }
</div>
}-->
