<p>Titre : {{ Titre }}</p>

@if (formVisible){
<app-add-assignment
  (nouvelAssignment)="onNouvelAssignment($event)"
></app-add-assignment>
}@else{
<div class="container">
  <button
    mat-flat-button
    color="accent"
    (click)="onAddAssignmentBtnClick()"
    class="ajouterBtn"
  >
    Ajout un devoir
  </button>
  <mat-list>
    @for(assignment of assignments; track assignment.nom){
    <mat-list-item (click)="assignmentClique(assignment)">
      <div [ngClass]="{ rendu: assignment.rendu, nonrendu: !assignment.rendu }">
        <h3 mat-subheader>
          {{ assignment.nom }} :
          <small>{{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</small>
        </h3>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    }
  </mat-list>
</div>
<app-assignment-detail
  [assignmentTransmis]="assignmentSelecionne"
></app-assignment-detail>
}

<!--
  <app-assignment-detail
  [assignmentTransmis]="assignmentSelecionne"
  (deleteAssignment)="onDeleteAssignment($event)"

></app-assignment-detail>
  @for(assignment of assignments; track assignment.nom){
<div [ngClass]="{ rendu: assignment.rendu, nonrendu: !assignment.rendu }">
  @if(assignment.rendu){
  <p appRendu>{{ assignment.nom }}</p>
  <p>doit être rendu le {{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</p>
  <mat-divider></mat-divider>
  }@else{
  <p appRendu>{{ assignment.nom }}</p>
  <p>doit être rendu le {{ assignment.dateDeRendu | date : "dd/MM/YYYY" }}</p>
  <mat-divider></mat-divider>
  }
</div>
}-->
